<!--<div class="container-fluid p-0">-->
<!--<div class="w-100 row m-0">-->
<!--  <div class="col-2 col-md-1-2 d-flex p-0 flex-column h-v-100 overflow-hidden background-nav ">-->
<!--    <app-side-navigation></app-side-navigation>-->
<!--  </div>-->
<!--  <div class="col-10 col-md-11-2 poppins h-v-100 w-100 overflow-auto p-0" style="background-color: #f7f7ff;">-->
<!--&lt;!&ndash;    Implement your named routes here &ndash;&gt;-->
<!--   <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<div class="container-fluid p-0 w-100 d-flex flex-row">
<!--  section containing the side navigation component -->
  <div class="background-nav h-v-100">
    <app-side-navigation></app-side-navigation>
  </div>
  <div class="flex-1 h-v-100">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- router outlet -->

<!--<router-outlet>-->
<!--  1. route - search bar -->
<!--  1.1. route - search items -->
<!-- 1. Home component -->
<!--  2. meal creator -->
<!--  3. brands -->
<!--  4. favourite -->
<!--  5. profile -->
<!-- 6. recommendation -->
<!--</router-outlet> -->
