/* background - #F1F1FF */
/* nav-background -  */

.h-v-100 {
  height: 100vh;
}

.background-nav {
  background-color:#E1E1E1;
}

.flex-1 {
  flex: 1;
}

.poppins {
  font-family: 'Poppins', serif;
}


@media (min-width: 768px) {
  .col-md-1-2 {
    flex: 0 0 5.666667%;
    max-width: 5.666667%;
  }

  .col-md-11-2 {
    flex: 0 0 94.333333%;
    max-width: 94.333333%;
  }
}


