<!--<div class="card shadow border-0 rounded overflow-hidden my-2 d-flex flex-column"-->
<!--     style="min-width: 16rem; max-width: 16rem;" >-->
<!--  <div style="-->
<!--            height: 8rem;-->
<!--            background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(assets/food-display-dark.jpg) center center;-->
<!--            background-size: cover;"-->
<!--       class="d-flex flex-column justify-content-end text-white p-3 pb-2 m-0 overflow-hidden pointer"-->
<!--       (click)="displayCurrentFood(food)"-->
<!--  >-->
<!--    <h5 class="card-title h5 font-weight-bold poppins">{{food.description.toLowerCase()}}</h5>-->
<!--  </div>-->
<!--  <div class="d-flex flex-column pointer" style="flex: 1;">-->
<!--    <div class="card-body d-flex flex-column justify-content-between" style="flex: 1;" (click)="displayCurrentFood(food)">-->
<!--      <div class="mb-2">-->
<!--        <small class="font-weight-bold">Brand Name</small>-->
<!--        <hr class="my-3">-->
<!--        <p class="card-text" *ngIf="food.brandOwner; else noBrandOwner">{{food.brandOwner}}</p>-->
<!--        <ng-template #noBrandOwner>-->
<!--          <p class="card-text">No brand</p>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--      <p class="card-text"><small class="text-muted poppins font-weight-bold">{{food.dataType}}</small></p>-->
<!--    </div>-->

<!--    <div class="ml-2">-->
<!--      <button class="btn d-inline-flex rounded justify-content-center align-items-center ml-2 mb-3"-->
<!--              style="background-color: rgb(3,218,197)">-->
<!--        <small class="font-weight-bold">Recommend</small>-->
<!--      </button>-->
<!--      <button class="btn d-inline-flex justify-content-center rounded align-items-center ml-2 mb-3"-->
<!--              (click)="deleteFoodItem(food)"-->
<!--              style="background-color: rgb(255,2,102);"-->
<!--      >-->
<!--        <small class="text-white font-weight-bold">Delete</small>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
