.poppins {
    font-family: 'Poppins', sans-serif;
  }

.text-quote {
    color: #868686;
  }
::placeholder {
    font-size: 0.8rem;
    font-family: sans-serif;
}

input {
    font-family: sans-serif;
    color: #000;
    font-size: 0.9rem;
 }


input:focus {
    font-family: sans-serif;
    color: #000;
    font-size: 0.9rem;
  }